@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfdff0;
  --background-sky: #b9b9ff;
  --foreground: #000000;
}

[data-mode='dark'] {
  --background: #101010;
  --background-sky: #1f1f26;
  --foreground: #ffffff;
}

html {
  font-size: 16px;
}
body {
  color: var(--foreground);
  background: var(--background);
}
main,
.body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-title);
}

@layer components {
  .timeline-grid {
    @apply flex flex-col sm:grid sm:grid-cols-3 md:grid-cols-4 print:grid-cols-2;

    & > :nth-child(odd) {
      @apply border-0 sm:pl-0 sm:pr-6 sm:border-r-2 print:border-none print:pr-0;
      border-image: linear-gradient(
          to bottom,
          var(--border-start) 90%,
          var(--border-end)
        )
        1;
    }
    & > :nth-child(even) {
      @apply mx-2 sm:mx-0;
    }
  }

  .button-link {
    @apply flex items-center justify-center min-w-10 min-h-10 transition-colors rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800;
  }

  .tech-tag {
    @apply relative;
    --bg-color: rgb(243 244 246 / 0.7);
    --dark-bg-color: rgb(31 41 55 / 0.7);

    &.selected {
      @apply text-black font-extrabold;
      --bg-color: rgb(243 244 55 / 0.7);
      --dark-bg-color: var(--bg-color);
    }

    code {
      @apply flex flex-row gap-0 px-1 py-1 lowercase ml-[.25rem] opacity-75 bg-[var(--bg-color)] dark:bg-[var(--dark-bg-color)] print:px-0 print:py-0 print:bg-transparent print:inline-block print:ml-0;

      &::before {
        @apply block absolute left-0 top-0 w-0 h-[1rem] print:hidden border-t-[.75rem] border-t-transparent border-r-[.25rem] border-r-[var(--bg-color)] dark:border-r-[var(--dark-bg-color)] border-b-[.75rem] border-b-transparent;
        content: '';
      }
      &::after {
        @apply block absolute right-[-.25rem] top-0 w-0 h-[1rem] print:hidden border-t-[.75rem] border-t-[var(--bg-color)] dark:border-t-[var(--dark-bg-color)] border-r-[.25rem] border-transparent border-b-[.75rem] border-b-[var(--bg-color)] dark:border-b-[var(--dark-bg-color)];
        content: '';
      }
    }

    & + .tech-tag {
      @media print {
        &::before {
          display: inline;
          content: ', ';
        }

        &:last-child::before {
          content: ', & ';
        }
      }
    }
  }

  .content-visibility {
    content-visibility: auto;
  }
}

.dot-blur {
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, var(--background) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(4px);
  opacity: 1;
  text-shadow: 3px 3px 2px var(--background), -3px 3px 2px var(--background),
    -3px -3px 0 var(--background), 3px -3px 0 var(--background);

  & > :not(h1, h2, h3, h4, h5, h6) {
    text-shadow: none;
  }
  &.dot-blur-fade-t {
    mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1.5rem);
  }
  &.dot-blur-fade-b {
    mask: linear-gradient(
      rgb(0, 0, 0) calc(100% - 1.5rem),
      rgba(0, 0, 0, 0) 100%
    );
  }
  &.dot-blur-faded {
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.5) 1px,
      var(--background) 1px
    );
  }
}

[tabindex]:focus {
  outline: orange solid 2px;
}

@media print {
  :root {
    --background: white;
    --foreground: #343434;
  }
  html {
    color-scheme: light !important;
    font-size: 13px;
  }
  * {
    background: transparent !important;
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    box-shadow: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--foreground) !important;
    font-size: 12px;
  }
}
